**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/search.liquid.js
_config.yml
_includes/resume/skills.liquid
_includes/resume/work.liquid
_pages/about.md
_pages/dropdown.md
_pages/projects.md
_pages/publications.md
_projects/design_elbow_manipulator.md
_projects/ee521_3rrp.md
_projects/flexure_hinges.md
_projects/fpga_airhockey.md
_projects/hand_steer_sim.md
_projects/me403_manipulator.md
_projects/mujoco_cartpole.md
_projects/multi_explore.md
_projects/panda_base_sim.md
_projects/passiveWalker_rl.md
assets/json/resume.json
google9acb26288f0f68cc.html
